*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
	text-align: center;
	font-size: 2rem;
	background-color: rgb(142, 180, 238);
	margin-bottom: 1rem;
	padding: 0.5rem;
}

#form {
text-align: center;
}

#input-text {
	height: 2rem;
	width: 400px;
}

#add-btn {
	height: 2.4rem;
	width: 100px;
	background-color: rgb(142, 180, 238);
	font-weight:400;
	font-size: 1rem;
	cursor: pointer;
}

#add-btn:hover, .task > button:hover {
	background-color: wheat;
}

.task {
	display: grid;
	grid-template-columns: auto 80px 80px;
	align-items: center;
	gap: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-top: 1px solid  rgb(142, 180, 238);;
}
.task > button {
	background-color:  rgb(142, 180, 238);;
	font-size: 1rem;
	cursor: pointer;
}
.task>p{
	/* font-size:  1.2rem; */
}

.task-list {
	margin-top: 2rem;
	max-width: 1000px;
	border: 1px solid ;
}

